/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	background: rgb(233, 233, 233);
}
.container {
	display: flex;
	width: 1200px;
	margin: auto;
}
nav {
	position: sticky;
	top: 0;
	left: 0;
	bottom: 0;
	width: 280px;
	height: 110vh;
	background: #fff;
}
.navbar {
	width: 80%;
	margin: 0 auto;
}

.logo {
	margin: auto;
	padding-bottom: 3rem;
	display: auto;
	align-items: center;
}
.logo img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	align-items: center;
}
.logo h1 {
	margin-left: 1rem;
	text-transform: uppercase;
}

ul {
	margin: 0 auto;
}
li {
	padding-bottom: 2rem;
}
li a {
	font-size: 16px;
	color: rgb(85, 83, 83);
}

nav i {
	width: 50px;
	font-size: 18px;
	text-align: center;
}

.logout {
	position: absolute;
	bottom: 20px;
}

/* Main Section */
.main {
	width: 100%;
}
.main-top {
	width: 100%;
	background: #fff;
	padding: 10px;
	text-align: center;
	font-size: 18px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: rgb(43, 43, 43);
}
.main-body {
	padding: 10px 10px 10px 20px;
}
h1 {
	margin: 20px 10px;
}
.search_bar {
	display: flex;
	padding: 10px;
	justify-content: space-between;
}
.search_bar input {
	width: 50%;
	padding: 10px;
	border: 1px solid rgb(190, 190, 190);
}
.search_bar input:focus {
	border: 1px solid #748e63;
}
.search_bar select {
	border: 1px solid rgb(190, 190, 190);
	padding: 10px;
	margin-left: 2rem;
}
.search_bar .filter {
	width: 300px;
}

.tags_bar {
	width: 55%;
	display: flex;
	padding: 10px;
	justify-content: space-between;
}
.tag {
	background: #fff;
	padding: 10px 15px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	font-size: 13px;
	cursor: pointer;
}
.tag i {
	margin-right: 0.7rem;
}
.row {
	display: flex;
	padding: 10px;
	margin-top: 1.3rem;
	justify-content: space-between;
}
.row p {
	color: rgb(54, 54, 54);
	font-size: 15px;
}
.row p span {
	color: #748e63;
}
.job_card {
	width: 100%;
	padding: 15px;
	cursor: pointer;
	display: flex;
	border-radius: 10px;
	background: #fff;
	margin-bottom: 15px;
	justify-content: space-between;
	border: 2px solid rgb(190, 190, 190);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}
.job_details {
	display: flex;
}
.job_details .img {
	display: flex;
	justify-content: center;
	align-items: center;
}
.job_details .img i {
	width: 70px;
	font-size: 3rem;
	margin-left: 1rem;
	padding: 10px;
	color: #748e63;
	background: #faf8ed;
}
.job_details .text {
	margin-left: 2.3rem;
}

.table tr th {
	background: #053b50;
	color: #fff;
	font-weight: normal;
	/*background-color: red;*/
}

.table,
th,
td {
	padding: 8px 20px;
	text-align: center;
	/*background: blue;*/
}

.table tr:hover {
	background-color: white;
	/*background-color: blue;*/
}

/*ini biar warnanya selang seling*/
/* .table tr:nth-child(even) {
	/*background-color: #f2f2f2;*/
/*background-color: #AEC3AE;*/
*/ .icon-button {
	border: none;
	background: none;
	cursor: pointer;
	padding: 0;
	font-size: inherit;
	text-decoration: none; /* Remove underline from the link */
	color: #333; /* Set link color */
}

/* Style for the icon inside the button */
.icon-button i {
	margin-right: 5px;
}

/* Additional button styling */
.icon-button {
	padding: 10px 15px;
	border: 1px solid #ccc;
	background-color: #f5f5f5;
	border-radius: 5px;
	display: inline-flex;
	align-items: center;
	transition: background-color 0.3s, color 0.3s; /* Add smooth transitions */
}

/* Change button color on hover */
.icon-button:hover {
	background-color: #ddd;
	color: #000;
}

ul.pagination {
	/*justify-content: center;*/
	text-align: center;
	/*background-color: red;*/
}

li.page-item {
	/*background-color: blue;*/
	justify-content: center;
	padding: 10px 15px;
	margin: auto;
	border: 1px solid #ccc;
	background-color: #f5f5f5;
	border-radius: 5px;
	display: inline-flex;
	transition: background-color 0.3s, color 0.3s;
}
